* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(rgb(47,150,163), rgb(48,62,143));
  color: white;
  font-family: sans-serif;
}

.title {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  font-size: 30px;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.location-section,
.temperature-section {
  height: 30vh;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.location-section {
  flex-direction: column;
}

.temperature-section {
  flex-direction: column;
}

.degree-section {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.degree-section span {
  margin: 10px;
  font-size: 30px;
}

.degree-section h2 {
  font-size: 40px;
}